@{
  ViewData["Title"] = "Music Matchup Landing Page";
}
<h3>Project Title:</h3>
<h1>Music Matchup</h1>
<hr>
<h3>Project Description:</h3>
<p>For our project, we decided to create a “music matchup” application that will allow users to keep track of individual artists, and the various bands that they have been associated with. Users would be able to register, and once registered, would be able to add/remove artists and bands, and associate which artists were ever a part of which bands.</p>